/* @media screen and (max-width: 800px) {
	body {
		background-color: red;
	}
} */

body {
	font-family: "futura";
	background-color: #191970;
	color: white;
}

.aboveh1 {
	text-align: center;
}

h1 {
	text-align: center;
	background-color: #DC143C;
	color: white;
	padding: 10px 5px;
}

.playerName {
	text-decoration: underline;
	margin-left: 150px;
	font-size: 24px;
	float: left;
}


.car {
	text-align: right;
	text-decoration: underline;
	margin-right: 150px;
	font-size: 24px;
	float: right;
}

.question1 {
	text-align: center;
	font-size: 24px;
}

.first{
	display: table;
}

footer {
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #DC143C;
	font-size: 18px;
	color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 25px;
	padding-left: 10px;
}

img {
	width: 300px;
	height: 250px;
	border: 5px white solid;
}

input {
}

form {
	display: flex;
  	flex-flow: row;
  	justify-content: space-evenly;
  	padding-bottom: 50px;
  	border-bottom: 3px solid white;
}

.textQuestion {
	font-size: 48px;
	border: 5px white solid;
	padding: 50px;
}

button {
	width: 150px;
	height: 50px;
	text-align: center;
	font-size: 28px;
}

.button {
	float: left;
	margin-left: 50px;
}

.refresh {
	float: right;
	margin-right: 50px;
}

li {
	font-family: "futura";
	color: white;
	display: inline;
	padding-left: 100px;
	padding-right: 100px;
}
nav {
	background-color: #DC143C;
	text-align: center;
	font-size: 30px;
}

a {
	color: white;
}

table {
	background-color: white;
	color: black;
	font-size: 18px;
	flex-direction: row;
}

caption {
	background-color: white;
	color: black;
	font-size: 18px;
	flex-direction: row;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 24px;
  border: 7px solid black;
}

.play {
	width: 75px;
	height: 25px;
	text-align: center;
	font-size: 18px;
}

.enterName {
	height: 30px;
	width: 200px;
	font-size: 18px;
}